body{
    background-color: #e5e5e5;
    margin: 0px;
    margin-top: -25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.overlay-header {
    box-shadow: inset 2000px 0 0 0 rgba(0, 74, 117, 0.65);
    color: #004a75;
  }

.header {
    background-image: url("./assets/backgroud.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.cookie-bar {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #e5e5e5;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    padding: 0.3rem;
    color: ​#e5e5e5;
    font-weight: 100;
    animation-delay: 0.8s;
    box-shadow: 0px 3px 11px -2px rgba(48, 58, 61, 0.49);
  }

  .coockie-container {
    max-width: 720px;
    justify-content: center;
    display: flex;
  }

  .cookie-left {
    width: 83.33%;
    display: flex;
  }
  
  .cookie-right {
    justify-content: center;
    width: 16.67%;
    display: flex;
  }

.header-text h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    position: absolute;
    width: 100%;
    top: 35%;
}

.header-text h3{
    text-align: center;
    color: white;
    font-size: 25px;
    position: absolute;
    width: 100%;
    top: 40%;
}

.header-text p{
    text-align: center;
    color: white;
    font-size: 20px;
    position: absolute;
    width: 100%;
    top: 45%;
}

.btn-outline-light {
    padding: 1.6vh 2vh;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    transition: 0.4s;
    position: absolute;
    text-transform: uppercase;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    top: 50%;
  }

  .btn-outline-light:hover {
    color: #004a75;
    background-color: white;
  }

.highlight {
    display: inline;
    background-color: ​#e5e5e5;
}

.btm-highlight {
    margin: auto;
}

.card {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.card-body {
    display: flex;
    width: 25%;
    padding: 10px;
}

.card-tittle {
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.card-tittle h2{
    color: black;
}

.card-border p{
    font-size: 15px;
}

.card-border {
    border-radius: 0.1rem;
    border: 1.3px solid darkgray;
    -webkit-box-shadow: 0.21px 0.21px 0.21px darkgray;
    -moz-box-shadow: 0.21px 0.21px 0.21px darkgray;
    padding-left: 10px;
}

.con-footer{
    background-color: #004a75;
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: small;
}